/* h2{
    color: red;
    height: 50%;
} */
/* p{
    color:blueviolet;
    text-align:center;
} */
 /* #para1{
    text-align:center;
    color:brown;
 /* }
 .para2{
    color:aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 } 
  .para3{
    color:blue;
    text-decoration: dashed;
  } 
h2,p{
    text align: center;
    color: black;
} */
 /* body {
    background-color: darkorchid;
 } */
  /* h1 {
    background-color: lightcoral;
  }
  p {
    background-color: maroon;
  }
  h2 {
    background-color: darkgoldenrod;
  } */
/* div {
  background-color: orangered;
}

div.first {
  opacity: 0.1;
}

div.second {
  opacity: 0.3;
}

div.third {
  opacity: 0.6;
} */
 div {
  background: rgb(0, 0, 157);
}

div.first {
  background: rgba(0, 0, 145, 0.1);
}

div.second {
  background: rgba(0, 0, 120, 0.3);
}

div.third {
  background: rgba(0, 0, 100, 0.6);
}

 