/* h2{
    color: red;
    height: 50%;
} */
/* p{
    color:blueviolet;
    text-align:center;
} */
 /* #para1{
    text-align:center;
    color:brown;
 }
 .para2{
    color:aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 } 
  .para3{
    color:blue;
    text-decoration: dashed;
  } 
h2,p{
    text align: center;
    color: black;
}
 